name: Elixir CI
env:
  MIX_ENV: test
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    name: OTP ${{matrix.otp}} | Elixir ${{matrix.elixir}}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        otp: [24, 23]
        elixir: ['1.12', '1.11']
    steps:
    - uses: actions/checkout@v2.4.0
    - uses: actions/cache@v2.1.7
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-mix-
    - uses: actions/cache@v2.1.7
      with:
        path: _build/ci
        key: ${{ runner.os }}-build-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-build-
    - uses: erlef/setup-beam@v1.11
      with:
        otp-version: ${{matrix.otp}}
        elixir-version: ${{matrix.elixir}}
    - name: Install inotify-tools
      run: sudo apt-get install inotify-tools
    - name: Install hex
      run: mix local.hex --force
    - name: Install rebar
      run: mix local.rebar --force
    - name: Install Dependencies
      run: mix deps.get
    - name: Run Tests
      run: mix test

  quality:
    name: Code quality checks
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0
    - uses: actions/cache@v2.1.7
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-mix-
    - uses: actions/cache@v2.1.7
      with:
        path: _build/ci
        key: ${{ runner.os }}-build-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-build-
    - uses: erlef/setup-beam@v1.11
      with:
        otp-version: 23
        elixir-version: 1.11

    - name: Install inotify-tools
      run: sudo apt-get install inotify-tools
    - name: Install hex
      run: mix local.hex --force
    - name: Install rebar
      run: mix local.rebar --force
    - name: Install Dependencies
      run: mix do deps.get, compile
    - name: Run code analysis
      run: mix credo --strict
    - name: Report coverage
      run: mix coveralls.github
    - name: Check documentation coverage
      run: mix inch
